<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demon.demonnewest">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".module.StartActivity"
            android:exported="true"
            android:theme="@style/Theme.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.home.HomeActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboardHidden" />
        <activity android:name=".module.dp.AudioActivity" />
        <activity android:name=".module.paging.PagingActivity" />
        <activity
            android:name=".module.progress.MultiProgressActivity"
            android:process=":process" />
        <activity android:name=".module.mvvm.ArticleActivity" />
        <activity android:name=".module.room.RoomActivity" />
        <activity android:name=".module.hilt.HiltActivity" />
        <activity android:name=".module.work.WorkerActivity" />
        <activity android:name=".module.views.LighterActivity" />
        <activity android:name=".module.views.DoodleActivity" />
        <activity android:name=".module.views.VbActivity" />
        <activity android:name=".module.views.MotionActivity" />
        <activity android:name=".module.img.ImgLoadActivity" />
        <activity android:name=".module.list.ListActivity" />
        <activity android:name=".module.datastore.DataStoreActivity" />
        <activity android:name=".module.views.animation.AnimationActivity" />
        <activity android:name=".module.flow.FlowActivity" />
        <activity android:name=".module.camera.CameraXActivity" />
        <activity android:name=".module.fragment.FragsActivity" />
        <activity android:name=".module.compose.ComposeActivity" />
        <activity android:name=".module.progress.uuid.DeviceIdActivity" />
        <activity android:name=".module.home.BitmapActivity" />
    </application>

</manifest>