<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demon.demonnewest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".module.datastore.DataStoreActivity"
            android:exported="false" />
        <activity
            android:name=".module.home.HomeActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.ara.ActResultActivity" />
        <activity android:name=".module.ara.ActResultTwoActivity" />
        <activity android:name=".module.dp.AudioActivity" />
        <activity android:name=".module.paging.PagingActivity" />
        <activity
            android:name=".module.progress.MultiProgressActivity"
            android:process=":process" />
        <activity android:name=".module.fragment.FragActivity" />
        <activity android:name=".module.room.RoomActivity" />
        <activity android:name=".module.hilt.HiltActivity" />
        <activity android:name=".module.work.WorkerActivity" />
        <activity android:name=".module.views.LighterActivity" />
        <activity android:name=".module.views.DoodleActivity" />
        <activity android:name=".module.views.VbActivity" />
        <activity android:name=".module.views.MotionActivity" />
        <activity android:name=".module.img.ImgLoadActivity" />
        <activity android:name=".module.list.ListActivity" />
        <activity android:name=".module.views.animation.AnimationActivity" />
        <activity android:name=".module.flow.FlowActivity" />


    </application>

</manifest>