<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demon.demonjetpack">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".module.home.HomeActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.ara.ActResultActivity" />
        <activity android:name=".module.ara.ActResultTwoActivity" />
        <activity android:name=".module.dp.AudioActivity" />
        <activity android:name=".module.paging.PagingActivity" />
        <activity
            android:name=".module.progress.MultiProgressActivity"
            android:process=":process" />
        <activity android:name=".module.fragment.FragActivity" />
        <activity android:name=".module.room.RoomActivity" />
        <activity android:name=".module.dagger.HiltActivity" />
        <activity android:name=".module.work.WorkerActivity" />
        <activity android:name=".module.views.LighterActivity" />
        <activity android:name=".module.views.DoodleActivity" />
        <activity android:name=".module.views.VbActivity" />
        <activity android:name=".module.views.MotionActivity" />

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove" />
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.demon.demonjetpack.init.ARouterInitializer"
                android:value="androidx.startup" />
        </provider>


    </application>

</manifest>